<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="net.cryptic_game.backend.server.App" />
    <module name="cryptic-backend.server.main" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="net.cryptic_game.backend.server.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>