name: CI

on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]
  pull_request:

env:
  JAVA_VERSION: 16

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: ${{ env.JAVA_VERSION }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Lint with Gradle
        run: ./gradlew checkstyleMain checkstyleTest spotbugsMain spotbugsTest pmdMain pmdTest --stacktrace --no-daemon # javadoc

#      - name: Annotate Checkstyle Issues
#        uses: jwgmeligmeyling/checkstyle-github-action@master
#        with:
#          path: '**/build/reports/checkstyle/*.xml'
#
#      - name: Annotate SpotBugs Issues
#        uses: jwgmeligmeyling/spotbugs-github-action@master
#        with:
#          path: '**/build/reports/spotbugs/*.xml'
#
#      - name: Annotate PMD Issues
#        uses: jwgmeligmeyling/pmd-github-action@master
#        with:
#          path: '**/build/reports/pmd/*.xml'

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 11, 16 ]
        jvm-impl: [ 'hotspot', 'openj9' ]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v2
        with:
          distribution: adopt-${{ matrix.jvm-impl }}
          java-version: ${{ matrix.java-version }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests with Gradle
        run: ./gradlew test --no-daemon

  build:
    needs: [ lint, test ]
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [ 'server', 'java-daemon', 'admin-panel' ]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: ${{ env.JAVA_VERSION }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew :${{ matrix.service }}:bootJar --no-daemon

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.service }}
          path: ${{ matrix.service }}/build/libs

  docker:
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [ 'server', 'java-daemon', 'admin-panel' ]
        jvm-impl: [ hotspot, openj9 ]
        include:
          - jvm-impl: hotspot
            platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          - jvm-impl: openj9
            platforms: linux/amd64 #,linux/arm64/v8

    env:
      IMAGE_NAME: crypticcp/${{ matrix.service }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Docker meta
        id: docker_meta
        uses: marcelcoding/ghaction-docker-meta@v1
        with:
          tag-edge: true
          images: |
            ${{ env.IMAGE_NAME }}
            ghcr.io/${{ github.repository_owner }}/${{ matrix.service }}
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}
          flavor: ${{ matrix.jvm-impl }}
          main-flavor: ${{ matrix.jvm-impl == 'hotspot' }}

      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ matrix.service }}-${{ matrix.jvm-impl }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ matrix.service }}-${{ matrix.jvm-impl }}-

      - name: Login to Docker Hub
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to GitHub Container Registry
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - uses: actions/download-artifact@v2
        with:
          name: ${{ matrix.service }}
          path: dist

      - name: Build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile.github-actions
          platforms: ${{ matrix.platforms }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          build-args: |
            SERVICE_NAME=${{ matrix.service }}
            JAVA_VERSION=${{ env.JAVA_VERSION }}
            JVM_IMPL=${{ matrix.jvm-impl }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Check manifest
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          docker buildx imagetools inspect ${{ env.IMAGE_NAME }}:${{ steps.docker_meta.outputs.version }}
          docker buildx imagetools inspect ghcr.io/${{ github.repository_owner }}/${{ matrix.service }}:${{ steps.docker_meta.outputs.version }}
